# Question 1

In [1]:
#STEP 1
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#STEP 2 & 3
#read csv from url
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep ='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [3]:
#STEP 4
age_mean = users.groupby("occupation").age.mean()
age_mean

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [4]:
#step 5

#all gender by their occupation
gender_all = users.groupby("occupation")["gender"].value_counts(normalize=True)*100
gender_all.head()

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
Name: gender, dtype: float64

In [5]:
#Convert to dataframe and rename columns
df_gender = pd.DataFrame(gender_all)
df_gender.rename(columns={"gender":"percent"}, inplace=True)
df_gender.head()

                         percent
occupation    gender
administrator M        54.430380
              F        45.569620
artist        M        53.571429
              F        46.428571
doctor        M       100.000000

In [6]:
#Add index
Percent_genders = pd.DataFrame(df_gender.reset_index(level=["occupation", "gender"]))
Percent_genders.head()

      occupation gender     percent
0  administrator      M   54.430380
1  administrator      F   45.569620
2         artist      M   53.571429
3         artist      F   46.428571
4         doctor      M  100.000000

In [7]:
male_ratio = Percent_genders[Percent_genders["gender"] == "M"].sort_values(by="percent",ascending=False)
male_ratio

       occupation gender     percent
4          doctor      M  100.000000
7        engineer      M   97.014925
37     technician      M   96.296296
29        retired      M   92.857143
27     programmer      M   90.909091
11      executive      M   90.625000
33      scientist      M   90.322581
9   entertainment      M   88.888889
17         lawyer      M   83.333333
31       salesman      M   75.000000
5        educator      M   72.631579
35        student      M   69.387755
25          other      M   65.714286
21      marketing      M   61.538462
39         writer      M   57.777778
23           none      M   55.555556
0   administrator      M   54.430380
2          artist      M   53.571429
20      librarian      M   43.137255
14     healthcare      M   31.250000
16      homemaker      M   14.285714

In [8]:
#STEP 6
#min and max for each occupation
users.groupby("occupation").age.agg([min, max])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [9]:
#STEP 7
#Mean age for each combination of occupation and sex
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [10]:
#Step 8
# percentage of women and men for each occupation

Percent_genders

       occupation gender     percent
0   administrator      M   54.430380
1   administrator      F   45.569620
2          artist      M   53.571429
3          artist      F   46.428571
4          doctor      M  100.000000
5        educator      M   72.631579
6        educator      F   27.368421
7        engineer      M   97.014925
8        engineer      F    2.985075
9   entertainment      M   88.888889
10  entertainment      F   11.111111
11      executive      M   90.625000
12      executive      F    9.375000
13     healthcare      F   68.750000
14     healthcare      M   31.250000
15      homemaker      F   85.714286
16      homemaker      M   14.285714
17         lawyer      M   83.333333
18         lawyer      F   16.666667
19      librarian      F   56.862745
20      librarian      M   43.137255
21      marketing      M   61.538462
22      marketing      F   38.461538
23           none      M   55.555556
24           none      F   44.444444
25          other      M   65.714286
26          other      F   34.285714
27     programmer      M   90.909091
28     programmer      F    9.090909
29        retired      M   92.857143
30        retired      F    7.142857
31       salesman      M   75.000000
32       salesman      F   25.000000
33      scientist      M   90.322581
34      scientist      F    9.677419
35        student      M   69.387755
36        student      F   30.612245
37     technician      M   96.296296
38     technician      F    3.703704
39         writer      M   57.777778
40         writer      F   42.222222

## QUESTION 2

In [11]:
#STEP 1
#import dependencies
import pandas as pd
import numpy as np

In [12]:
#STEP 2 & 3
#Import the dataset from from url
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [13]:
#Step 4. 
#Select only the Goal column
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [14]:
#Step 5. 
# Euro2012team participant
team_participant = euro12.shape[0]
print("Number of Euro2012team participant:", team_participant)

Number of Euro2012team participant: 16

In [15]:
#Step 6.
#number of columns in the dataset
nos_columns = euro12.shape[1]
print("Number of columns:", nos_columns)

Number of columns: 35

In [16]:
#STEP 7 
#view only columns Team, Yellow Cards and Red Cards and assign them a df

df_discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
df_discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [17]:
#STEP 8
#Sorting the teams by Red Cards, then to Yellow Cards
df_discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [18]:
#STEP 8
#mean of Yellow Cards given per Team

mean_yellow_cards_per_team = df_discipline.groupby('Team')['Yellow Cards'].mean().round()

print(mean_yellow_cards_per_team)

Team
Croatia                 9.0
Czech Republic          7.0
Denmark                 4.0
England                 5.0
France                  6.0
Germany                 4.0
Greece                  9.0
Italy                  16.0
Netherlands             5.0
Poland                  7.0
Portugal               12.0
Republic of Ireland     6.0
Russia                  6.0
Spain                  11.0
Sweden                  7.0
Ukraine                 5.0
Name: Yellow Cards, dtype: float64

In [19]:
#STEP 10
#. Filter teams that scored more than 6 goals
euro12[euro12.Goals > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [20]:
#STEP 11
#teams that start with G
Starting_withG = euro12[euro12.Team.str.startswith('G')]
Starting_withG

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [21]:
#STEP 12
#Select the first 7 columns
first_7_columns = euro12.iloc[:,0:7]

(first_7_columns)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [22]:
#STEP 13
# Selecting all columns except the last 3
Columns_except3= euro12[euro12.columns[0:-3]]
Columns_except3

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [23]:
#STEP 14
#Shooting Accuracy from England, Italy and Russia
EIR_accuracy = euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]
EIR_accuracy

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [24]:
## QUESTION 3

In [25]:
#STEP 1
# import dependencies
import pandas as pd
import numpy as np

In [26]:
#STEP 2
#Create 3 differents Series, each of length 100,The first a random number from 1 to 4
first_series = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
first_series

0     2
1     2
2     1
3     3
4     3
     ..
95    1
96    4
97    2
98    2
99    1
Length: 100, dtype: int32

In [27]:
#The second a random number from 1 to 3
second_series = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
second_series

0     1
1     2
2     1
3     1
4     2
     ..
95    3
96    3
97    2
98    2
99    2
Length: 100, dtype: int32

In [28]:
#The third a random number from 10,000 to 30,000
Third_series = pd.Series(np.random.randint(10000, high=300001, size=100, dtype='l'))
Third_series

0      24578
1     155543
2     293900
3     224934
4     226076
       ...
95    234350
96     74487
97    261758
98    188279
99     73814
Length: 100, dtype: int32

In [29]:
#STEP 3
#Create a DataFrame by joinning the Series by column

df_allseries = pd.concat([first_series, second_series, Third_series], axis=1)
df_allseries.tail()

    0  1       2
95  1  3  234350
96  4  3   74487
97  2  2  261758
98  2  2  188279
99  1  2   73814

In [30]:
#STEP 4
#Change the name of the columns to bedrs, bathrs, price_sqr_meter
df_allseries.rename(columns = {0:'bedrs', 
                               1:'bathrs' ,
                               2:'price_sqr_meter'}, inplace =True) 
df_allseries.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            24578
1      2       2           155543
2      1       1           293900
3      3       1           224934
4      3       2           226076

In [31]:
#STEP 5
#Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

# Concatenate all Series 
bigcolumn = pd.concat([first_series, second_series, Third_series], axis=0)

# Create a DataFrame with the concatenated Series as a single column
df = pd.DataFrame(bigcolumn, columns=['bigcolumn'])

print(df)

    bigcolumn
0           2
1           2
2           1
3           3
4           3
..        ...
95     234350
96      74487
97     261758
98     188279
99      73814

[300 rows x 1 columns]

In [32]:
#STEP 6
#Ops it seems it is going only until index 99. Is it true?

bigcolumn.count()

300

In [33]:
#STEP 7
#Step Reindex the DataFrame so it goes from 0 to 299
df.reset_index(drop=True, inplace=True)
df

     bigcolumn
0            2
1            2
2            1
3            3
4            3
..         ...
295     234350
296      74487
297     261758
298     188279
299      73814

[300 rows x 1 columns]

## QUESTION 4

In [15]:
#Step 1. 
#Import the necessary libraries
import pandas as pd
from datetime import datetime

In [16]:
#Step 2 and 3. Import the dataset from the attached file wind.txt

# # Read the whitespace-separated file and set the proper datetime index
# data = pd.read_csv('wind.txt', delim_whitespace=True, parse_dates={'date': [0, 1, 2]})
# data.set_index('date', inplace=True)

# read txt file
path_data= 'wind.txt'
#wind_data = pd.read_csv(txt_data, sep = "\s+", parse_dates = [[0,1,2]]) 
#wind_data
data = pd.read_csv(path_data, sep = "\s+", parse_dates = [[0,1,2]]) 
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [23]:
import pandas as pd

# Read the data with the appropriate index column specified
data = pd.read_csv('your_data_file.csv', index_col=1)  # Assuming 'Yr_Mo_Dy' is the datetime column

# Display the DataFrame
print(data.head())

FileNotFoundError: [Errno 2] No such file or directory: 'your_data_file.csv'

In [22]:

# Assume 'data' is your DataFrame with the datetime column named 'datetime'

# function that fixes the century of dates
def fix_century(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime(year, x.month, x.day)

# apply the function fix_century on the column and replace the values
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# Display the DataFrame
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1970-01-01 00:00:00.000000000,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1970-01-01 00:00:00.000000001,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1970-01-01 00:00:00.000000002,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1970-01-01 00:00:00.000000003,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1970-01-01 00:00:00.000000004,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [17]:
import pandas as pd

# Assume 'data' is your DataFrame with the datetime index

# Convert the index to datetime objects
data.index = pd.to_datetime(data.index)

def fix_year_2061(date):
    """
    Function to fix the year 2061 in a datetime index.
    """
    if date.year == 2061:
        return date - pd.DateOffset(years=100)
    else:
        return date

# Apply the fix_year_2061 function to the datetime index
data.index = data.index.map(fix_year_2061)

# Display the DataFrame
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1970-01-01 00:00:00.000000000,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1970-01-01 00:00:00.000000001,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1970-01-01 00:00:00.000000002,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1970-01-01 00:00:00.000000003,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1970-01-01 00:00:00.000000004,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [18]:
#Step 5
# Convert the index to datetime64[ns] data type
data.index = pd.to_datetime(data.index)
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1970-01-01 00:00:00.000000000,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1970-01-01 00:00:00.000000001,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1970-01-01 00:00:00.000000002,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1970-01-01 00:00:00.000000003,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1970-01-01 00:00:00.000000004,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [38]:
#step 6
#how many values are missing for each location over the entire record.They should be ignored in all calculations below.
# Count missing values for each location
missing_values_per_location = data.isnull().sum()

print(missing_values_per_location)

Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64

In [39]:
#step 7
#Compute how many non-missing values there are in total.
total_non_missing_values = data.notnull().sum()
total_non_missing_values

Yr_Mo_Dy    6574
RPT         6568
VAL         6571
ROS         6572
KIL         6569
SHA         6572
BIR         6574
DUB         6571
CLA         6572
MUL         6571
CLO         6573
BEL         6574
MAL         6570
dtype: int64

In [40]:
#step 8
#Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
mean_windspeed = data.mean().mean()

print("Mean windspeed:", mean_windspeed)

Mean windspeed: 10.227982360836938

C:\Users\olaka\AppData\Local\Temp\ipykernel_34052\1720232347.py:3: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  mean_windspeed = data.mean().mean()

In [41]:
#step 9
#Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

loc_stats = data.agg(['min', 'max', 'mean', 'std'])

# Transpose the DataFrame to have locations as rows
loc_stats = loc_stats.T

# Rename the columns for clarity
#loc_stats.columns = ['Min', 'Max', 'Mean', 'Std']

loc_stats

,min,max,mean,std
Yr_Mo_Dy,1974-01-01 00:00:00,2073-12-31 00:00:00,2042-03-23 06:48:57.389716992,14936 days 08:22:10.054896896
RPT,0.67,35.8,12.362987,5.618413
VAL,0.21,33.37,10.644314,5.267356
ROS,1.5,33.84,11.660526,5.00845
KIL,0.0,28.46,6.306468,3.605811
SHA,0.13,37.54,10.455834,4.936125
BIR,0.0,26.16,7.092254,3.968683
DUB,0.0,30.37,9.797343,4.977555
CLA,0.0,31.08,8.495053,4.499449
MUL,0.0,25.88,8.49359,4.166872
CLO,0.04,28.21,8.707332,4.503954
BEL,0.13,42.38,13.121007,5.835037
MAL,0.67,42.54,15.599079,6.699794

In [8]:
# create the dataframe
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

C:\Users\olaka\AppData\Local\Temp\ipykernel_33916\3990649138.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  day_stats['min'] = data.min(axis = 1) # min
C:\Users\olaka\AppData\Local\Temp\ipykernel_33916\3990649138.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  day_stats['max'] = data.max(axis = 1) # max
C:\Users\olaka\AppData\Local\Temp\ipykernel_33916\3990649138.py:7: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  day_stats['mean'] = data.mean(axis = 1) # mean
C:\Users\olaka\AppData\Local\Temp\ipykernel_33916\3990649138.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  day_stats['std'] = data.std(axis = 1) # standard deviations

                                min    max       mean       std
1970-01-01 00:00:00.000000000  9.29  18.50  13.018182  2.808875
1970-01-01 00:00:00.000000001  6.50  17.54  11.336364  3.188994
1970-01-01 00:00:00.000000002  6.17  18.50  11.641818  3.681912
1970-01-01 00:00:00.000000003  1.79  11.75   6.619167  3.198126
1970-01-01 00:00:00.000000004  6.17  13.33  10.630000  2.445356

In [13]:
# # Drop rows with missing values (NaNs)
# data.dropna(inplace=True)

# # Calculate the minimum, maximum, mean, and standard deviation of the windspeeds across all locations at each day
# day_stats = data.agg(['min', 'max', 'mean', 'std'], axis=1)

# # Rename the columns for clarity
# day_stats.columns = ['Min', 'Max', 'Mean', 'Std']

# # Display the DataFrame
# print(day_stats)


day_stats = data.agg(['min', 'max', 'mean', 'std'])

# Transpose the DataFrame to have locations as rows
# loc_stats = loc_stats.T

# Rename the columns for clarity
#loc_stats.columns = ['Min', 'Max', 'Mean', 'Std']

day_stats.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,1974-01-01 00:00:00,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,2073-12-31 00:00:00,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
mean,2042-02-21 05:04:14.078826752,12.359979,10.640267,11.656396,6.298587,10.448923,7.085066,9.793006,8.486601,8.490257,8.696705,13.110668,15.603129
std,14961 days 03:59:08.802348800,5.618805,5.268695,5.007805,3.600942,4.933988,3.967735,4.978030,4.498299,4.165947,4.500488,5.829054,6.702178

In [10]:
#step 10
#Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.
# Drop rows with missing values (NaNs)
data.dropna(inplace=True)

day_stats = data.agg(['min', 'max', 'mean', 'std'], axis=1)

# Rename the columns for clarity
day_stats.columns = ['Min', 'Max', 'Mean', 'Std']

print(day_stats)

ValueError: no results

In [ ]:
#step 11
#find the average windspeed in January 1961 and January 1962  for each location.

# Filter the data for January dates
january_data = data[data.index.month == 1]

# Group by location and calculate the mean windspeed for January
average_windspeed_january = january_data.mean()


average_windspeed_january

In [ ]:
#step 12
# Downsample to yearly frequency for each location

yearly_data = data.groupby(data.index.to_period('Y')).mean()
yearly_data

In [ ]:
#step 13
#Downsample the record to a monthly frequency for each location.
monthly_data= data.groupby(data.index.to_period('M')).mean()
monthly_data

In [ ]:
#step 14
#Downsample the record to a weekly frequency for each location.
weekly_data= data.groupby(data.index.to_period('W')).mean()
weekly_data

In [ ]:
#step 15
#Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks

weekly_data= data.resample('W', loffset=pd.Timedelta(days=1)).mean()

# slice first 52 weeks
weekly_stat = weekly_data.iloc[:52]

 #Calculate statsfor each week
weekly_stats = weekly_data.agg(['min', 'max', 'mean', 'std'])

weekly_data

## QUESTION 5

In [ ]:
#STEP 1
#import dependencies
import pandas as pd
import numpy as np

In [ ]:
#STEP 2 and 3
#import url and ssigned chipo as the variable

# URL of the dataset
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# Read the dataset into a DataFrame
chipo_data = pd.read_csv(url, sep='\t')

In [ ]:
#STEP 4
# Display the first 10 rows of the DataFrame
chipo_data.head(10)

In [ ]:
#STEP 5
#name of the observation in the dataset
# Number of observations (rows) in the dataset
nos_observations = chipo_data.shape[0]

print("Number of observations:", nos_observations)

In [ ]:
#STEP 6 
#nos of colums in the dataset

nos_columns = chipo_data.shape[1]

print("Number of columns:", nos_columns)

In [ ]:
#STEP 7
#printing out the columns to reduce it
print(chipo_data.columns)

In [ ]:
#STEP 8

dataset_index=chipo_data.index
dataset_index

In [ ]:

mostordered_item = chipo_data.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
mostordered_item .head()

In [ ]:
#STEP 9
#Which was the most-ordered item?

# Group the data by item name and sum the quantity ordered for each item
item_quantity = chipo_data.groupby('item_name')['quantity'].sum()

# Find the item with the highest total quantity ordered
mostordered_item = item_quantity.idxmax()

print("Mostordered item:", mostordered_item)

In [ ]:
#STEP 10
#Find the quantity ordered for the most-ordered item

quantity_ordered = item_quantity.max()

# print("Most-ordered item:", most_ordered_item)
print("Quantity ordered:", quantity_ordered)

In [ ]:
    #STEP 11
#
# Group the data by choice_description and sum the quantity ordered for each description
choice_quantity = chipo_data.groupby('choice_description')['quantity'].sum()

# Find the choice description with the highest total quantity ordered
mostordered_choice = choice_quantity.idxmax()

print("Mostordered item in the choice_description column:", mostordered_choice)

In [ ]:
#STEP 12
#How many items were orderd in total?

totalitems_ordered = chipo_data['quantity'].sum()

print("Total number of items ordered:", totalitems_ordered)

In [ ]:
#Step 13:a
#Turn the item price into a float
# Remove the dollar sign ($) from each item price and convert to float
chipo_data['item_price'] = chipo_data['item_price'].astype(float)

In [ ]:
#Step 13:b
# : Check the type of the item price column again
print("Type of item_price after conversion:", chipo_data['item_price'].dtype)

In [ ]:
#Step 13:c 
#Convert the item price to a float using a lambda function
itemprice_change= chipo_data['item_price'] = chipo_data['item_price'].apply(lambda x: float(x[1:]) if isinstance(x, str) else x)

itemprice_change

In [ ]:
#STEP 14
# Calculate revenue for the period in the dataset

revenue = (chipo_data['quantity'] * chipo_data['item_price']).sum()

print("Total revenue for the period:", revenue)

In [ ]:
#STEP 15
# orders made in the period?

nos_orders = chipo_data['order_id'].nunique()

print("Number of orders made in the period:", nos_orders)

In [ ]:
#STEP 16
# Calculate the average revenue amount per order
average_revenue_per_order = revenue / nos_orders
average_revenue_per_order

In [ ]:
# Step 17: 
# Count the number of different items sold
nos_unique_items_sold = chipo_data['item_name'].nunique()
nos_unique_items_sold

## QUESTION 6

In [ ]:
#import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

In [ ]:
marriages_divorces = pd.read_csv('"C:/Users/olaka/Georgian College/BDAT 1004 DATA PROGRAMMING/us-marriages-divorces-1867-2014.csv"')
#marriages_divorces.info()
df = pd.read_csv('api-data.csv')

In [ ]:
#STEP 3
#

In [ ]:
#STEP 4
#

## QUESTION 10