# Question 1

In [1]:
#STEP 1
#import dependencies
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#STEP 2 & 3
#read csv from url
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep ='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [3]:
#STEP 4
age_mean = users.groupby("occupation").age.mean()
age_mean

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [13]:
#step 5

#all gender by their occupation
gender_all = users.groupby("occupation")["gender"].value_counts(normalize=True)*100
gender_all.head()

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
Name: gender, dtype: float64

In [12]:
#Convert to dataframe and rename columns
df_gender = pd.DataFrame(gender_all)
df_gender.rename(columns={"gender":"percent"}, inplace=True)
df_gender.head()

                         percent
occupation    gender
administrator M        54.430380
              F        45.569620
artist        M        53.571429
              F        46.428571
doctor        M       100.000000

In [20]:
#Add index
Percent_genders = pd.DataFrame(df_gender.reset_index(level=["occupation", "gender"]))
Percent_genders.head()

      occupation gender     percent
0  administrator      M   54.430380
1  administrator      F   45.569620
2         artist      M   53.571429
3         artist      F   46.428571
4         doctor      M  100.000000

In [15]:
male_ratio = index_gen[index_gen["gender"] == "M"].sort_values(by="percent",ascending=False)
male_ratio

       occupation gender     percent
4          doctor      M  100.000000
7        engineer      M   97.014925
37     technician      M   96.296296
29        retired      M   92.857143
27     programmer      M   90.909091
11      executive      M   90.625000
33      scientist      M   90.322581
9   entertainment      M   88.888889
17         lawyer      M   83.333333
31       salesman      M   75.000000
5        educator      M   72.631579
35        student      M   69.387755
25          other      M   65.714286
21      marketing      M   61.538462
39         writer      M   57.777778
23           none      M   55.555556
0   administrator      M   54.430380
2          artist      M   53.571429
20      librarian      M   43.137255
14     healthcare      M   31.250000
16      homemaker      M   14.285714

In [16]:
#STEP 6
#min and max for each occupation
users.groupby("occupation").age.agg([min, max])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [18]:
#STEP 7
#Mean age for each combination of occupation and sex
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [21]:
#Step 8
# percentage of women and men for each occupation

Percent_genders

       occupation gender     percent
0   administrator      M   54.430380
1   administrator      F   45.569620
2          artist      M   53.571429
3          artist      F   46.428571
4          doctor      M  100.000000
5        educator      M   72.631579
6        educator      F   27.368421
7        engineer      M   97.014925
8        engineer      F    2.985075
9   entertainment      M   88.888889
10  entertainment      F   11.111111
11      executive      M   90.625000
12      executive      F    9.375000
13     healthcare      F   68.750000
14     healthcare      M   31.250000
15      homemaker      F   85.714286
16      homemaker      M   14.285714
17         lawyer      M   83.333333
18         lawyer      F   16.666667
19      librarian      F   56.862745
20      librarian      M   43.137255
21      marketing      M   61.538462
22      marketing      F   38.461538
23           none      M   55.555556
24           none      F   44.444444
25          other      M   65.714286
26          other      F   34.285714
27     programmer      M   90.909091
28     programmer      F    9.090909
29        retired      M   92.857143
30        retired      F    7.142857
31       salesman      M   75.000000
32       salesman      F   25.000000
33      scientist      M   90.322581
34      scientist      F    9.677419
35        student      M   69.387755
36        student      F   30.612245
37     technician      M   96.296296
38     technician      F    3.703704
39         writer      M   57.777778
40         writer      F   42.222222

## QUESTION 2

In [22]:
#STEP 1
#import dependencies
import pandas as pd
import numpy as np

In [25]:
#STEP 2 & 3
#Import the dataset from from url
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [26]:
#Step 4. 
#Select only the Goal column
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [46]:
#Step 5. 
# Euro2012team participant
team_participant = euro12.shape[0]
print("Number of Euro2012team participant:", team_participant)

Number of Euro2012team participant: 16

In [45]:
#Step 6.
#number of columns in the dataset
nos_columns = euro12.shape[1]
print("Number of columns:", nos_columns)

Number of columns: 35

In [48]:
#STEP 7 
#view only columns Team, Yellow Cards and Red Cards and assign them a df

df_discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
df_discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [49]:
#STEP 8
#Sorting the teams by Red Cards, then to Yellow Cards
df_discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [62]:
#STEP 8
#mean of Yellow Cards given per Team

mean_yellow_cards_per_team = df_discipline.groupby('Team')['Yellow Cards'].mean().round()

print(mean_yellow_cards_per_team)

Team
Croatia                 9.0
Czech Republic          7.0
Denmark                 4.0
England                 5.0
France                  6.0
Germany                 4.0
Greece                  9.0
Italy                  16.0
Netherlands             5.0
Poland                  7.0
Portugal               12.0
Republic of Ireland     6.0
Russia                  6.0
Spain                  11.0
Sweden                  7.0
Ukraine                 5.0
Name: Yellow Cards, dtype: float64

In [63]:
#STEP 10
#. Filter teams that scored more than 6 goals
euro12[euro12.Goals > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [81]:
#STEP 11
#teams that start with G
Starting_withG = euro12[euro12.Team.str.startswith('G')]
Starting_withG

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [80]:
#STEP 12
#Select the first 7 columns
first_7_columns = euro12.iloc[:,0:7]

(first_7_columns)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [82]:
#STEP 13
# Selecting all columns except the last 3
Columns_except3= euro12[euro12.columns[0:-3]]
Columns_except3

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [98]:
#STEP 14
#Shooting Accuracy from England, Italy and Russia
EIR_accuracy = euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]
EIR_accuracy

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [ ]:
## QUESTION 3

In [99]:
#STEP 1
# import dependencies
import pandas as pd
import numpy as np

In [103]:
#STEP 2
#Create 3 differents Series, each of length 100,The first a random number from 1 to 4
first_series = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
first_series

0     4
1     1
2     1
3     4
4     4
     ..
95    3
96    1
97    4
98    3
99    1
Length: 100, dtype: int32

In [104]:
#The second a random number from 1 to 3
second_series = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
second_series

0     2
1     3
2     2
3     2
4     2
     ..
95    2
96    3
97    3
98    2
99    3
Length: 100, dtype: int32

In [105]:
#The third a random number from 10,000 to 30,000
Third_series = pd.Series(np.random.randint(10000, high=300001, size=100, dtype='l'))
Third_series

0     224484
1     243551
2     124182
3     251584
4     160690
       ...
95     44860
96    140284
97    205999
98     87921
99     46264
Length: 100, dtype: int32

In [130]:
#STEP 3
#Create a DataFrame by joinning the Series by column

df_allseries = pd.concat([first_series, second_series, Third_series], axis=1)
df_allseries.tail()

    0  1       2
95  3  2   44860
96  1  3  140284
97  4  3  205999
98  3  2   87921
99  1  3   46264

In [127]:
#STEP 4
#Change the name of the columns to bedrs, bathrs, price_sqr_meter
df_allseries.rename(columns = {0:'bedrs', 
                               1:'bathrs' ,
                               2:'price_sqr_meter'}, inplace =True) 
df_allseries.head()

   bedrs  bathrs  price_sqr_meter
0      4       2           224484
1      1       3           243551
2      1       2           124182
3      4       2           251584
4      4       2           160690

In [136]:
#STEP 5
#Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

# Concatenate all Series 
bigcolumn = pd.concat([first_series, second_series, Third_series], axis=0)

# Create a DataFrame with the concatenated Series as a single column
df = pd.DataFrame(bigcolumn, columns=['bigcolumn'])

print(df)

    bigcolumn
0           4
1           1
2           1
3           4
4           4
..        ...
95      44860
96     140284
97     205999
98      87921
99      46264

[300 rows x 1 columns]

In [139]:
#STEP 6
#Ops it seems it is going only until index 99. Is it true?

bigcolumn.count()

300

In [140]:
#STEP 7
#Step Reindex the DataFrame so it goes from 0 to 299
df.reset_index(drop=True, inplace=True)
df

     bigcolumn
0            4
1            1
2            1
3            4
4            4
..         ...
295      44860
296     140284
297     205999
298      87921
299      46264

[300 rows x 1 columns]

## QUESTION 4

In [165]:
#Step 1. 
#Import the necessary libraries
import pandas as pd

In [168]:
#Step 2 and 3. Import the dataset from the attached file wind.txt

# # Read the whitespace-separated file and set the proper datetime index
# data = pd.read_csv('wind.txt', delim_whitespace=True, parse_dates={'date': [0, 1, 2]})
# data.set_index('date', inplace=True)

# read txt file
path_data= 'wind.txt'
#wind_data = pd.read_csv(txt_data, sep = "\s+", parse_dates = [[0,1,2]]) 
#wind_data
data = pd.read_csv(txt_data, sep = "\s+", parse_dates = [[0,1,2]]) 
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [175]:
# step 4
#create a function to fix the year 2061 to 1961

def fix_year_2061(date):
    """
    Function to fix the year 2061 in a datetime index.
    """
    if date.year == 2061:
        return date - pd.DateOffset(years=100)
    else:
        return date

# Apply the fix_year_2061 function to the datetime index
data.index = data.index.map(fix_year_2061)

# Display  the DataFrame
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [176]:
#Step 5
# Convert the index to datetime64[ns] data type
data.index = pd.to_datetime(data.index)
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [177]:
#step 6
#how many values are missing for each location over the entire record.They should be ignored in all calculations below.
# Count missing values for each location
missing_values_per_location = data.isnull().sum()

print(missing_values_per_location)

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [181]:
#step 7
#Compute how many non-missing values there are in total.
total_non_missing_values = data.notnull().sum()
total_non_missing_values

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [182]:
#step 8
#Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
mean_windspeed = data.mean().mean()

print("Mean windspeed:", mean_windspeed)

Mean windspeed: 10.227982360836938

In [186]:
#step 9
#Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

loc_stats = data.agg(['min', 'max', 'mean', 'std'])

# Transpose the DataFrame to have locations as rows
loc_stats = loc_stats.T

# Rename the columns for clarity
#loc_stats.columns = ['Min', 'Max', 'Mean', 'Std']

loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

In [188]:
#step 10
#Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

day_stats = data.agg(['min', 'max', 'mean', 'std'], axis=1)

# Rename the columns for clarity
day_stats.columns = ['Min', 'Max', 'Mean', 'Std']

day_stats

             Min    Max       Mean       Std
date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

In [191]:
#step 11
#find the average windspeed in January 1961 and January 1962  for each location.

# Filter the data for January dates
january_data = data[data.index.month == 1]

# Group by location and calculate the mean windspeed for January
average_windspeed_january = january_data.mean()


average_windspeed_january

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [198]:
#step 12
# Downsample to yearly frequency for each location

yearly_data = data.groupby(data.index.to_period('Y')).mean()
yearly_data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370
2062,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
2063,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
2064,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
2065,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
2066,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
2067,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
2068,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
2069,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
2070,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
2071,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
2072,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
2073,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096

In [199]:
#step 13
#Downsample the record to a monthly frequency for each location.
monthly_data= data.groupby(data.index.to_period('M')).mean()
monthly_data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613
...,...,...,...,...,...,...,...,...,...,...,...,...
2073-08,8.955161,7.868710,8.996774,4.396129,7.860645,4.989355,6.051290,5.173548,6.171935,5.745161,10.512258,12.328710
2073-09,11.632667,10.963667,11.634667,5.194333,9.100333,5.730667,7.053000,7.048333,6.911667,6.111667,12.149667,13.966667
2073-10,11.531935,9.858710,11.535161,4.356452,8.773226,5.189677,6.455806,7.140000,6.254516,6.890323,10.758387,14.955484
2073-11,11.540667,10.868000,10.613000,5.385000,10.463667,6.147333,7.525667,7.619667,8.378333,8.311333,11.499333,18.441000
2073-12,13.670000,12.086774,11.278065,5.619355,10.672581,6.914516,10.841290,8.516129,9.311613,9.702581,13.274194,19.728387

In [201]:
#step 14
#Downsample the record to a weekly frequency for each location.
weekly_data= data.groupby(data.index.to_period('W')).mean()
weekly_data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1960-12-26/1961-01-01,15.040000,14.960000,13.170000,9.290000,NaN,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.040000
1961-01-02/1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-09/1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-16/1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-23/1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000
...,...,...,...,...,...,...,...,...,...,...,...,...
2073-11-27/2073-12-03,11.661429,10.261429,10.628571,4.364286,9.871429,5.492857,7.125714,7.052857,6.977143,5.842857,10.535714,14.047143
2073-12-04/2073-12-10,15.694286,12.995714,12.791429,6.320000,11.505714,8.112857,11.882857,9.108571,9.885714,10.530000,13.750000,20.047143
2073-12-11/2073-12-17,16.344286,14.101429,11.411429,8.208571,13.975714,8.802857,15.197143,11.102857,12.381429,13.410000,16.552857,26.521429
2073-12-18/2073-12-24,12.392857,11.960000,10.768571,3.892857,8.131429,3.692857,6.232857,5.584286,6.428571,6.214286,8.862857,13.075714
2073-12-25/2073-12-31,11.060000,10.392857,10.272857,4.714286,9.727143,7.328571,10.298571,8.632857,9.340000,9.744286,14.678571,20.182857

In [202]:
#step 15
#. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks

weekly_stat = data.resample('W').agg(['min','max','mean','std'])

# slice first 52 weeks
#week.loc[week.index[1:53], "RPT":"MAL"] .head(5)
weekly_stat = weekly_data.iloc[:52]
weekly_stat

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1960-12-26/1961-01-01,15.040000,14.960000,13.170000,9.290000,NaN,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.040000
1961-01-02/1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-09/1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-16/1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-23/1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000
1961-01-30/1961-02-05,16.827143,15.460000,12.618571,8.247143,13.361429,9.107143,12.204286,8.548571,9.821429,9.460000,14.012857,11.935714
1961-02-06/1961-02-12,19.684286,16.417143,17.304286,10.774286,14.718571,12.522857,14.934286,14.850000,14.064286,14.440000,21.832857,19.155714
1961-02-13/1961-02-19,15.130000,15.091429,13.797143,10.083333,13.410000,11.868571,9.542857,12.128571,12.375714,13.542857,21.167143,16.584286
1961-02-20/1961-02-26,15.221429,13.625714,14.334286,8.524286,13.655714,10.114286,11.150000,10.875714,10.392857,12.730000,16.304286,14.322857
1961-02-27/1961-03-05,12.101429,12.951429,11.063333,7.834286,12.101429,9.238571,10.232857,11.130000,10.383333,12.370000,17.842857,13.951667
1961-03-06/1961-03-12,9.376667,11.578571,10.845714,7.137143,10.940000,9.488571,6.881429,9.637143,9.885714,10.458571,16.701429,14.420000
1961-03-13/1961-03-19,11.911429,13.501429,11.607143,7.084286,10.751429,8.652857,10.041429,10.220000,10.101429,11.627143,19.350000,16.227143
1961-03-20/1961-03-26,9.567143,8.387143,9.695714,6.648571,8.964286,7.982857,10.774286,8.977143,10.904286,11.481429,14.037143,18.134286
1961-03-27/1961-04-02,10.757143,8.852857,9.501429,7.300000,9.975714,9.165714,11.125714,9.061429,10.478333,9.631429,13.471429,13.900000
1961-04-03/1961-04-09,11.964286,10.654286,13.607143,5.958571,9.494286,7.637143,7.107143,8.041429,8.161429,7.238571,11.712857,11.371429
1961-04-10/1961-04-16,8.965714,8.000000,8.787143,4.971429,6.405714,4.947143,5.005714,4.994286,5.718571,6.178571,9.482857,8.690000
1961-04-17/1961-04-23,12.621429,10.438571,10.255714,7.768571,10.357143,7.798571,9.000000,9.111429,8.767143,9.551429,13.620000,12.470000
1961-04-24/1961-04-30,10.117143,9.798571,8.281429,4.801429,7.892857,5.197143,6.150000,6.377143,6.242857,6.124286,9.720000,8.637143
1961-05-01/1961-05-07,15.367143,13.970000,13.834286,9.952857,14.917143,10.864286,11.435714,12.244286,11.677143,11.585714,17.548571,14.571429
1961-05-08/1961-05-14,7.772857,8.712857,8.172857,5.295714,9.150000,6.391429,8.013333,7.052857,7.528571,7.822857,10.421429,10.382857
1961-05-15/1961-05-21,8.225714,5.631667,12.042857,4.258571,7.597143,5.022857,5.695714,6.970000,6.847143,7.114286,9.624286,10.612857
1961-05-22/1961-05-28,8.155714,7.388571,8.512857,3.748333,6.941429,4.112857,5.142857,6.272857,6.108571,7.535714,10.518571,11.697143
1961-05-29/1961-06-04,10.321429,7.407143,10.065714,6.310000,9.754286,6.451429,8.344286,8.635714,8.714286,9.035714,12.298571,13.597143
1961-06-05/1961-06-11,10.917143,8.992857,8.095714,5.214286,10.030000,5.460000,7.084286,6.884286,8.034286,8.397143,10.148571,12.250000
1961-06-12/1961-06-18,10.571429,9.565714,10.875714,6.520000,10.260000,6.947143,9.278571,9.102857,8.992857,9.594286,15.351429,15.025714
1961-06-19/1961-06-25,7.345714,6.108571,8.084286,5.478571,11.477143,7.492857,11.868571,9.447143,10.458571,11.257143,14.370000,17.410000
1961-06-26/1961-07-02,10.236667,9.482857,8.648571,6.772857,10.975714,6.507143,7.642857,9.237143,7.904286,10.268571,14.535714,12.133333
1961-07-03/1961-07-09,11.715714,7.220000,9.320000,7.544286,12.494286,7.982857,11.888333,9.308571,10.732857,10.547143,12.220000,15.987143
1961-07-10/1961-07-16,16.680000,13.518571,11.171429,9.277143,14.524286,8.412857,10.171429,10.507143,9.530000,10.157143,13.520000,12.524286
1961-07-17/1961-07-23,4.202857,4.255714,6.738571,3.300000,6.112857,2.715714,3.964286,5.642857,5.297143,6.041429,7.524286,8.415714
1961-07-24/1961-07-30,10.561429,8.445714,9.352857,5.727143,10.077143,6.552857,9.147143,9.198571,8.037143,9.470000,12.841429,13.761429
1961-07-31/1961-08-06,10.870000,8.792857,9.858571,6.238571,11.161429,7.184286,8.671429,8.265714,8.011429,8.951429,11.595714,13.760000
1961-08-07/1961-08-13,10.058333,7.941429,8.728571,5.078571,10.105714,6.017143,7.858571,8.021429,6.285714,7.235000,10.934286,10.125714
1961-08-14/1961-08-20,15.607143,10.565714,11.065714,8.600000,15.262857,10.415714,13.215714,11.714286,11.780000,12.244286,14.922857,16.626667
1961-08-21/1961-08-27,12.391429,11.430000,12.768571,7.108571,13.250000,9.424286,11.105714,12.201429,9.817143,12.507143,16.251429,16.485714
1961-08-28/1961-09-03,8.678571,8.821429,6.745714,5.642857,9.678571,6.278571,6.434286,8.612857,6.744286,8.924286,13.664286,11.022857
1961-09-04/1961-09-10,10.541429,8.798571,8.185714,6.060000,9.231429,5.685714,6.787143,6.674286,6.977143,7.565714,10.700000,11.034286
1961-09-11/1961-09-17,17.160000,14.440000,15.617143,10.442857,15.455714,11.082857,12.267143,13.131429,11.401429,14.268571,19.878571,18.984286
1961-09-18/1961-09-24,8.500000,7.154286,7.993333,4.851667,8.214286,5.042857,5.671429,6.881667,5.034286,6.798571,11.018571,9.814286
1961-09-25/1961-10-01,16.044286,11.361667,13.062857,8.370000,13.714286,8.762857,9.227143,10.437143,8.885714,11.840000,16.208571,13.338571
1961-10-02/1961-10-08,11.250000,8.757143,10.167143,5.262857,8.255714,5.552857,7.411429,6.220000,5.650000,7.662857,8.810000,11.410000
1961-10-09/1961-10-15,10.881667,9.734286,9.104286,6.578571,10.630000,7.965714,8.708571,7.901429,7.227143,9.494286,14.451429,15.260000
1961-10-16/1961-10-22,19.260000,13.364286,15.828571,12.620000,15.137143,10.721429,15.565714,12.560000,13.118571,16.461429,17.477143,23.641429
1961-10-23/1961-10-29,16.077143,11.867143,14.608571,8.408571,13.362857,8.928571,12.751429,9.874286,9.435000,12.952857,15.592857,18.404286
1961-10-30/1961-11-05,11.571429,9.590000,10.827143,7.541429,10.840000,8.667143,12.791429,9.970000,10.172857,11.864286,16.322857,19.195714
1961-11-06/1961-11-12,10.428571,7.690000,10.272857,4.660000,7.338571,4.220000,9.308571,4.257143,5.188571,6.415714,9.208571,10.858571
1961-11-13/1961-11-19,10.798571,7.951429,16.988571,5.970000,8.131429,5.492857,9.660000,4.625714,4.501429,6.031429,5.875714,5.737143
1961-11-20/1961-11-26,9.154286,7.337143,8.662857,4.970000,8.904286,6.361429,12.103333,6.924286,6.560000,9.582857,11.772857,12.732857
1961-11-27/1961-12-03,12.608571,10.442857,11.481429,6.501429,10.357143,6.868571,11.077143,6.245714,7.372857,7.911429,11.464286,14.725714
1961-12-04/1961-12-10,17.362857,14.362857,15.460000,8.624286,12.642857,10.421429,14.545714,10.114286,9.970000,12.022857,15.975714,16.241429
1961-12-11/1961-12-17,14.985714,13.472857,13.720000,8.697143,14.297143,11.698571,13.665714,10.428571,10.655714,11.058571,15.112857,14.644286
1961-12-18/1961-12-24,15.757143,11.971429,12.840000,5.785714,11.928571,7.084286,8.071429,7.012857,5.517143,7.697143,9.958571,8.164286

## QUESTION 10